#menuWrapper
{
    display:table-cell;
    width: 17.6%;
    background-image:url("../images/menuBgHhx.jpg");

     background-size:100%;
}

#bottomMenu {
    position: fixed;
    bottom:0;
    width: 100%;
    background:gray;
    background-image:url("../images/menuBgHhxLaying.jpg");
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 40px;
    -moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
    font-size: 0.7em;
}

.subLinkActive a {

    color:red;


}